{% load util_template_tags %}

{% if items %}
    <div id="pagination-holder" class="clearfix" style="margin-bottom: 10px;">
        <ul class="pagination pagination-sm" style="margin-bottom: 0;">
            {% if now_page == '1' %}
                <li class="disabled">
                    <a>«</a>
                </li>
            {% else %}
                <li>
                    <a href="?page={{ previous_page }}&app_id={{ app_id }}&search_key={{search_key}}&{{query_key|to_query_key_string}}">«</a>
                </li>
            {% endif %}

            {% for page in display_pages %}
                {% if page == now_page %}
                    <li class="active">
                        <a href="?page={{ page }}&app_id={{ app_id }}&search_key={{search_key}}&{{query_key|to_query_key_string}}">{{ page }}</a>
                    </li>
                {% elif page == '...' %}
                    <li class="disabled">
                        <a>{{ page }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="?page={{ page }}&app_id={{ app_id }}&search_key={{search_key}}&{{query_key|to_query_key_string}}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if now_page == num_pages %}
                <li class="disabled">
                    <a>»</a>
                </li>
            {% else %}
                <li>
                    <a href="?page={{ next_page }}&app_id={{ app_id }}&search_key={{search_key}}&{{query_key|to_query_key_string}}">»</a>
                </li>
            {% endif %}

        </ul>

        <div class="current">
                    当前第{{ items.number }}页 共{{ items.paginator.num_pages }}页
        </div>
    </div>
{% else %}
    <div>
    no paginators
    </div>
{% endif %}