{% extends 'cms_basemain.html' %}
{% load staticfiles %}
{% load util_template_tags %}

{% block reset_css %}
    <style>
        .row {
            margin: 20px;
        }
    </style>
{% endblock %}


{% block nav_right %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">客户</h4>
            </div>
        </div>
    </div>
{% endblock %}


{% block col_main %}



    <div class="card bg-default">
        <div class="card-body profile-user-box">
            <div class="row">
                <div class="col-6">
                    <div id="form-holder">
                        <form class="form-inline" id="search_app_form" method="get"
                              action="/system_user/list">
                            <div class="form-group">
                                <label for="search_keyword" class="sr-only">搜索关键字:</label>
                                <input type="input" class="form-control" name="search_key" id="search_keyword"
                                       placeholder="请输入搜索关键字" value="{{ search_key }}"/>
                                <button type="submit" class="btn btn-primary mr10">搜索</button>
                                <button type="button" class="btn btn-primary reset_customer_button">重置检索</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6 text-right">
                        <input type="hidden" name="item_ids" id="item_ids"/>
                        
                    <a href="{% url 'baseuser_new' %}" class="btn btn-primary">+客户</a>
                    <a href="{% url 'baseuser_list' %}" class="btn btn-default">返回</a>
                </div>
            </div>


    <div class="row mt20">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>用户ID</th>
                        <th>用户名</th>
                        <th>昵称</th>
                        <th>密码</th>
                        <th>用户头像</th>
                        <th>性别</th>
                        <th>邮箱</th>
                        <th>状态</th>
                        <th>注册设备</th>
                        <th>最后登录时间</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody  >
                    {% for data in datas %}
                    <tr class="sort-item" id="module{{ data.pk }}" value="{{ data.pk }}">
                        <input type="hidden" name="status_item_id" value="{{ data.pk }}">
                        <td>{{ data.user_id }}</td>
                        <td>{{ data.username }}</td>
                        <td>{{ data.nickname }}</td>
                        <td>{{ data.password }}</td>
                        <td>{{ data.image_url }}</td>
                        <td>{{ data.sex }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.status }}</td>
                        <td>{{ data.register_from }}</td>
                        <td>{{ data.last_login_time }}</td>
                        <td>{{ data.create_time }}</td>
                        

                        <td>
                            <button class="btn btn-warning item_status">
                                {% if data.status %}
                                    开启
                                {% else %}
                                    关闭
                                {% endif %}
                            </button>
                            <a href="{% url 'baseuser_new' %}?itemid={{ data.pk }}"
                               class="btn btn-primary" role="button">编辑</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if not datas %}
        <div class="col-md-12">
            <div class="alert alert-primary" role="alert"><strong>Warning!</strong> 数据为空,请创建数据。</div>
        </div>
        {% endif %}

        {% if datas %}
        <div>
        {% include "common/pagination.html" with items=datas %}
        </div>
        {% endif %}
    </div>


    <input type="hidden" id="menu-sel" value="100">
{% endblock %}


{% block endlink %}
    <script src="{{ STATIC_URL }}toast_message/jquery.toastmessage.js"></script>

    <script>
    
        {% include "common/common_update_status.js" with item_class='BaseUser' %}
    </script>
{% endblock %}

