{% extends 'cms_basemain.html' %}
{% load staticfiles %}
{% load util_template_tags %}

{% block reset_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="{{ STATIC_URL }}file_upload/css/jquery.fileupload.css">
<script src="{{ STATIC_URL }}bootstrap-3/js/bootstrap.min.js"></script>
    <style>
        .row {
            margin: 20px;
        }
    </style>
{% endblock %}


{% block nav_right %}
  
     <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title"> 客户</h4>
            </div>
        </div>
    </div>
{% endblock %}


{% block col_main %}

<div class="card bg-default">
    <div class="card-body profile-user-box">
    {% if item %}
    <form class="form-horizontal" method="post" id="form_id" action="{% url 'baseuser_new' %}">
        <fieldset>
            <div class="form-group">
                <label for="itemid" class="col-sm-2 control-label">客户</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="itemid" name="itemid"
                           value="{%if item.id%}{{ item.id }}{%endif%}" placeholder="由系统自动生成" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="user_id" class="col-sm-2 control-label">用户ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="user_id" name="user_id" value="{{ item.user_id}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="username" name="username" value="{{ item.username}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="nickname" class="col-sm-2 control-label">昵称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="nickname" name="nickname" value="{{ item.nickname}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="password" name="password" value="{{ item.password}}" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="box-u-screen-upload" class="col-sm-2 control-label">用户头像</label>
                <div class="col-sm-8">
                    <span id="u-img">
                        <span id="box-u-screen-button" class="btn btn-success fileinput-button"
                        {% if item.image_url %}style="display:none;"{% endif %}>
                            <span>+ 上传图片...</span>
                            <input id="box-u-screen-upload" type="file" name="files[]" multiple>
                        </span>
                        <div id="box-u-screen-success" class="alert alert-success upload-pic"
                             style="margin:0;{% if not item.image_url %}display:none;{% endif %}">
                            <button type="button" class="close">&times;</button>
                            <img id='box-u-screen-content' src="{% if item.id %}{{ item.image_url  }}{% endif %}"
                                 class="img-polaroid" style="max-height: 150px;">
                        </div>
                        <div id="box-u-screen-progress"
                             class="progress progress-success progress-striped  active"
                             style="display:none">
                            <div class="bar"></div>
                        </div>
                        <input type='hidden' id="box-u-screen-input" name='image_url'
                               value="{% if item.id %}{{ item.image_url }}{% endif %}" height="100" width="100"/>
                    </span>
 
                </div>
            </div>
            <div class="form-group" >
                <label for="sex"  class="col-sm-2 control-label">性别</label>
                <div class="col-sm-8">
                    <select name="sex" id="sex" class="form-control">
                        
                          <option {%ifequal 1 item.sex %}selected{%endifequal%} value='1'>男</option>
                          <option {%ifequal 2 item.sex %}selected{%endifequal%} value='2'>女</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="email" name="email" value="{{ item.email}}" />
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="col-sm-2 control-label">状态</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="status" name="status" value="{{ item.status}}" />
                </div>
            </div>
            <div class="form-group" >
                <label for="register_from"  class="col-sm-2 control-label">注册设备</label>
                <div class="col-sm-8">
                    <select name="register_from" id="register_from" class="form-control">
                        
                          <option {%ifequal 1 item.register_from %}selected{%endifequal%} value='1'>android</option>
                          <option {%ifequal 2 item.register_from %}selected{%endifequal%} value='2'>ios</option>
                          <option {%ifequal 3 item.register_from %}selected{%endifequal%} value='3'>web</option>
                          <option {%ifequal 4 item.register_from %}selected{%endifequal%} value='4'>H5</option>
                    </select>
                </div>
            </div>
            
            
            <div class="form-group">
                <label for="last_login_time"  class="col-sm-2 control-label">最后登录时间</label>
                <div  class='input-group date' >
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>

                    <input  type="text" style="width: 200px" name="last_login_time" id="last_login_time" class="form_datetime form-control" value="{% if item.last_login_time %}{{item.last_login_time}}{% endif %}"/>
                </div>
            </div>
            
            
            <div class="form-group">
                <label for="create_time"  class="col-sm-2 control-label">创建时间</label>
                <div  class='input-group date' >
                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>

                    <input  type="text" style="width: 200px" name="create_time" id="create_time" class="form_datetime form-control" value="{% if item.create_time %}{{item.create_time}}{% endif %}"/>
                </div>
            </div>
            
            
          
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a class="btn btn-primary" id="submit_btn">保存</a>
                    <a class="btn btn-default" href="{% url 'baseuser_list' %}">返回</a>
                </div>
            </div>
        </fieldset>
    </form>
    {% else %}
        No data are available.
    {% endif %}
</div>
</div>

    <input type="hidden" id="menu-sel" value="100">
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}file_upload/js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.autocomplete.js"></script>
<script src="{{ STATIC_URL }}js/json2.js"></script>

<script type="text/javascript">
    {% include "common/image_upload.js" %}

    $(function(){

        function check() {

            return true;
        }

        $('#submit_btn').click(function(){
            if(check()) {
                $('#form_id').submit();
            }
        });

        $('.form_datetime').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1
        });


        //初始化，主要是设置上传参数，以及事件处理方法(回调函数)
        var img_upload_arr = ['box-u-screen'];
        for (var index = 0; index < img_upload_arr.length; index++) {
            add_upload_handler(generate_upload_dict(img_upload_arr[index]));
        }

    });

</script>
{% endblock js %}

